---
import Title from '../atoms/Title.astro';
import SkillsOnTerminal from './components/skills-on-terminal/skillsOnTerminal.astro';
import './skills.css';
---

<section id="skills">
	<SkillsOnTerminal />
	<div class="text-content">
		<Title contenido="Habilidades" />
		<p>
			Me especializo en medicina sintomática, brindando diagnóstico y tratamiento preciso para una variedad de síntomas. Además, cuento con amplia experiencia en procedimientos anticonceptivos, ayudando a las personas a elegir y gestionar las opciones más adecuadas para su bienestar.
		</p>
	</div>
</section>
