---
import SocialIcons from '../SocialIcons.astro';
import Title from '../atoms/Title.astro';
import "./about.css"


---

<section id="about" class="about">
	<div class="about__container">
		<img
			class="about__img"
			src="/img/hugo.jpg"
			alt="Foto de perfil "
		/>

		<div class="about__content">
			<Title margin="1rem" contenido="Sobre mí" />
			<p class="about__text">
				¡Hola! Soy Hugo Escobar, médico familiar con 40 años de experiencia en atención integral. Me especializo en planificación familiar, ofreciendo asesoramiento experto y procedimientos personalizados para ayudarte a tomar decisiones informadas sobre tu salud reproductiva. Mi objetivo es brindarte un cuidado profesional y cercano, resolviendo tus dudas y apoyándote en cada paso.
			</p>
			<SocialIcons width="25" height="25"/>
		</div>
	</div>

</section>
