---
import TerminalIcon from '../../atoms/terminal-icon/TerminalIcon.astro';
import Terminal from '../terminal/Terminal.astro';
import './skills-on-terminal.css';
---


	<div class="terminal__skills">
		<h2>Mis habilidades</h2>
		
			<img
				src="/img/medical expertice.jpg"
				height="200"
			/>
			

		</div>
	</div>

